body {
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* ver bien la fuente */
}

/* Inicio header */
header {
    background-color: #ffffff;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.2);
    font-weight: 550;
    font-size: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5% ;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header i{
    display: none;
}


header a {
    text-decoration: none;
    color: black;
    padding: 0px 15px;
    transition: color 0.7s;
}


.cv-button {
    background-color: #ff8911;
    color: #ffffff;
    border: 2px solid #ff8911;
    border-radius: 45px;
    padding: 20px 58px;
    transition: 0.7s;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
}

.cv-button:hover {
    background-color: transparent;
    color: #ff8911;
}

.menu-link:hover {
    color: #ff8911;
}
/* Fin header */

/* inicio hero */
.hero{
    padding-top: 150px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #5c5bdb;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 100%;
}

.hero h1{
    font-size: 50px;
    margin: 0;
    padding-top: 38px;
}

.hero p{
    font-size: 22px;
}

.hero img{
    border: 8px solid #ff8911;
    border-radius: 200px;
    width: 280px;
    height: 280px;
}

.hero-buttons{
    display: flex;
    justify-content:space-around;
    width: 450px;
}

.misTrabajos-button{
    background-color: #ff8911;
    color: #ffffff;
    border: 2px solid #ff8911;
    padding: 20px 10%;
    border-radius: 45px;
    text-decoration: none;
    transition: 0.7s;
}

.contactame-button{
    background-color: #ff8911;
    color: #ffffff;
    border: 2px solid #ff8911;
    padding: 20px 10%;
    border-radius: 45px;
    text-decoration: none;
    transition: 0.7s;
}
.contactame-button i{
    padding-right: 8px;
}

.hero a:hover{
    background-color: transparent;
    border-color: white;
}

.background{
    background: #5c5bdb;
    background-image: repeating-linear-gradient(59deg,rgba(255,255,255,0.3),transparent 2px,transparent,transparent 120px),
    repeating-linear-gradient(90deg,rgba(255,255,255,0.3),transparent 2px,transparent,transparent 140px);
}
/* fin hero */

/* inicio servicios */
h4{
    font-size: 20px;
    color: #ff8911;
    margin-bottom: 8px;
}

h1{
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 40px;
}

.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7% 0;
}

.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 31.5%;
    height: 420px;
    background-color: #f4f4f4;
    border-radius: 30px;
    text-align: center;
    transition: 0.7s;
}

.imagen-fondo1{
    width: 130px;
    height: 130px;
    padding-top: 12%;
    position: absolute;
    translate: 0px -54%;
    transition: 0.7s;
}
.imagen-fondo2{
    width: 129px;
    height: 129px;
    padding-top: 12%;
    position: absolute;
    translate: 0px -54%;
}
.tarjeta-imagen{
    position: absolute;
    translate: 0px -95%;
    transition: 0.7s;
}

.invisble{
    opacity: 1;
}

.mundo{
    translate: 0px -75%;
}

.tarjetas h5{
    padding-top: 22%;
    font-size: 22px;
    margin-bottom: 5%;
}
.container-tarjetas{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

.tarjetas:hover{
    background-color: #5c5bdb;
    color: #ffffff;
}

.tarjetas:hover .imagen-fondo1{
    opacity: 0;
}
.tarjetas:hover .invisible{
    opacity: 0;
}

.servicios p{
    margin: 0px 40px;
    line-height: 25px;
}

/* fin servicios */

/* Inicio Sobre mi */
.sobremi{
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 1%;
    background-image: url(../images/fondoSenoidal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.sobre-container{
    width: 35%;
    padding-left: 7%;
    text-align: justify; 
}

.div-iconos{
    display: flex;
    justify-content: space-between;
    width: 120px;
    padding-bottom: 35px;
}

.icono-color{
    font-size: 40px;
    color: #5c5bdb;
    transition: 0.7s;
}

.icono-color:hover{
    color: #ff8911;
}



.sobremi h1{
    font-size: 36px;
    margin-top: 0;
}

.sobremi p{
    line-height: 28px;
    font-size: 20px;
}
/* Fin Sobe mi */

/* Inicio proyectos */

.proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 0;
}
.proyectos img{
    border-radius: 35px;
}

.proyectos-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
}
.proyectos-cuadro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proyectos h5{
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 22px;
}

.proyectos p{
    margin-top: 6px;
}
/* Fin proyectos*/

/* Inicio Experiencia y Educacion*/
.eduexp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.eduexp-container{
    width: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
   
}

.centrado{
    display: flex;
    align-items: center;
}

.div-fechas{
    border-radius: 10px;
    height: 215px;
    width: 100%;
    margin-bottom: 25px;
}

.eduexp p{
    padding-left: 25px;
    line-height: 22px;
}

.educacion{
    background-color: #ffecce;
}

.experiencia{
    background-color: #e3e2ff;
}

.eduexp h4{
    font-size: 20px;
    translate: -30px;
    padding-bottom: 30px;
}

.naranja{
    color: #ff8911; 
}

.violeta{
    color: #5c5bdb;
}

.vertical-line {
    position: absolute;
    translate: -25px 90px;
    width: 3px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 220px; 
    flex-shrink: 0;
}

.background-naranja{
    background-color: #ff8911
}

.background-violeta{
    background-color:#5c5bdb
}
/* Fin Experiencia y Educacion*/

/*Inicio Skills*/

.habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
}
.verticalizar{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.skill{
    display: flex;
}

.skill h6{
    font-size: 16px;
    margin-bottom: 0;
}
.skill p{
    margin-top: 5px;
}

.habilidades img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
}


/*Fin Skills*/

/* Inicio Contacto */

.contacto{
    margin: 5% 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 52%;
    height: 450px;
}

.input-chico{
    width: 48.5%; 
}
textarea{
    width: 100%;
    height: 60%;
    resize: none;
}
.formulario input, textarea{
    border: none;
    background-color: #efeffb;
    border-radius: 10px;
}
input::placeholder, textarea::placeholder{
    color: #a7a8a8;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 18px;
}

input:focus, textarea:focus{
    outline: none;
    color: #a7a8a8;
    font-size: 18px;
}

.formulario div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 16%;
}

.formulario a{
    background-color: #ff8911;
    color: #ffffff;
    border: 2px solid #ff8911;
    border-radius: 6px;
    text-align: center;
    transition: 0.7s;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    width: 100%;
    padding: 20px 0px;
}

.formulario a:hover{
    background-color: transparent;
    color: #ff8911;
}


/* Fin Contacto */

/* Inicio Footer */

footer{
    background-color: #fdbf60;
    padding: 1.5% 10%;
    display: flex;
    justify-content: space-between;
    color: #644729;
    font-size: 18px;
}
footer div{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.icono-footer{
    font-size: 40px;
    color: #644729;
    transition: 0.7s;
}

.icono-footer:hover{
    color: #ff8911;
}

/* Fin Footer */