body {
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* ver bien la fuente */
}

/* Inicio header */
header {
    background-color: #ffffff;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.2);
    font-weight: 550;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: fixed;
    width: 100%;
}


header a {
    text-decoration: none;
    color: black;
    padding: 0px 15px;
    transition: color 0.7s;
}

header nav {
    padding-left: 32%;
}

.cv-button {
    background-color: #ff8911;
    color: #ffffff;
    border: 2px solid #ff8911;
    border-radius: 45px;
    padding: 20px 58px;
    transition: 0.7s;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
}

.cv-button:hover {
    background-color: transparent;
    color: #ff8911;
}

.menu-link:hover {
    color: #ff8911;
}
/* Fin header */

/* inicio hero */
.hero{
    padding-top: 150px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #5c5bdb;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 100%;
}

.hero h1{
    font-size: 50px;
    margin: 0;
    padding-top: 38px;
}

.hero p{
    font-size: 22px;
}

.hero img{
    border: 8px solid #ff8911;
    border-radius: 200px;
    width: 280px;
    height: 280px;
}

.hero-buttons{
    display: flex;
    justify-content:space-around;
    width: 26%;
}

.misTrabajos-button{
    background-color: #ff8911;
    color: #ffffff;
    border: 2px solid #ff8911;
    padding: 20px 50px;
    border-radius: 45px;
    text-decoration: none;
    transition: 0.7s;
}

.contactame-button{
    background-color: #ff8911;
    color: #ffffff;
    border: 2px solid #ff8911;
    padding: 20px 58px;
    border-radius: 45px;
    text-decoration: none;
    transition: 0.7s;
}
.contactame-button i{
    padding-right: 8px;
}

.hero a:hover{
    background-color: transparent;
    border-color: white;
}

.background{
    background: #5c5bdb;
    background-image: repeating-linear-gradient(59deg,rgba(255,255,255,0.3),transparent 2px,transparent,transparent 120px),
    repeating-linear-gradient(90deg,rgba(255,255,255,0.3),transparent 2px,transparent,transparent 140px);
}
/* fin hero */

/* inicio servicios */
.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}
.servicios h4{
    font-size: 20px;
    text-align: center;
    color: #ff8911;
    padding-top: 100px;
    margin-bottom: 10px;
}

.servicios h1{
    margin-top: 0px;
    font-size: 38px;
}

.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 420px;
    background-color: #f4f4f4;
    border-radius: 30px;
    text-align: center;
    transition: 0.7s;
}

.imagen-fondo1{
    width: 130px;
    height: 130px;
    padding-top: 12%;
    position: absolute;
    translate: 0px -54%;
    transition: 0.7s;
}
.imagen-fondo2{
    width: 129px;
    height: 129px;
    padding-top: 12%;
    position: absolute;
    translate: 0px -54%;
}
.tarjeta-imagen{
    position: absolute;
    translate: 0px -95%;
    transition: fill 0.3s ease, stroke 0.3s ease;
}

.mundo{
    translate: 0px -75%;
}

.tarjetas h5{
    padding-top: 36%;
    font-size: 22px;
    margin-bottom: 0;
}
.container-tarjetas{
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

.tarjetas:hover{
    background-color: #5c5bdb;
    color: #ffffff;
}

.tarjetas:hover .imagen-fondo1{
    opacity: 0;
}

/* .tarjetas:hover .tarjeta-imagen{
    fill: #ffffff;
} */

/* fin servicios */

/* Inicio Sobre mi */
.sobremi{
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.sobremi img{
    width: 450px;
    height: 450px;
    border-radius: 300px;
    border: 8px solid #5c5bdb;
}

.sobre-container{
    width: 35%;
    padding-left: 8%;
    text-align: justify; 
}

.div-iconos{
    display: flex;
    justify-content: space-between;
    width: 17%;
    padding-bottom: 35px;
}

.icono-color{
    font-size: 40px;
    color: #5c5bdb;
    transition: 0.7s;
}

.icono-color:hover{
    color: #ff8911;
}

.sobremi h4{
    font-size: 20px;
    color: #ff8911;
    margin-bottom: 10px;
}

.sobremi h1{
    font-size: 36px;
    margin-top: 0;
}

.sobremi p{
    line-height: 24px;
}
/* Fin Sobe mi */

/* Inicio proyectos */

.proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 120px;
}
.proyectos img{
    border-radius: 35px;
}

.proyectos-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.proyectos h4{
    font-size: 20px;
    color: #ff8911;
    margin-bottom: 8px;
}

.proyectos h1{
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 40px;
}

.proyectos h5{
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 22px;
}

.proyectos p{
    margin-top: 6px;
}
/* Fin proyectos*/